

<%= simple_form_for @applicant, :url => answer_seventh_scarce_occupation_path(@applicant), :method => :post do |f| %>
  <%= f.input :scarce_occupation, as: :radio_buttons, label: "" %>
  <div class="button-on-right">
    <%= f.submit t('fifth.residence_status.question.next'), class: "our-small-btn" %>
  </div>
<% end %>
