</div>
<h1 class="pdf-header"> I. ANTRAG AUF ERLAUBNIS EINER BESCHÄFTIGUNG (unselbstständige Erwerb
s-
tätigkeit), die der Zustimmung der Bundesagentur für Arbeit bedarf
</h1>
<%= simple_form_for(@applicant) do |f| %>
<%= f.input :first_name %>
<% end %>

 <%= wicked_pdf_image_tag 'icon_one.png' %>

<style>
  .pdf-header {
    font-size: 140px;
  }
</style>
