<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="question-card">
        <div class="question-card-header green-header">
          <h3>Application for work permit</h3>

        </div>

         <div class="question-content">
            <p><span class="bigger">Priority check ("Vorrangprüfung") ❌</span>
            <span title="Your company is not registered in an area where the authority examines the priority of local work force (§ 39 Abs. 2 S. 1 Nr. 1a AufenthG)" data-toggle="tooltip"> <i class="fas fa-question-circle"></i></span>
            </p>
          <p class="bigger">Find the right authority: <%= link_to "Authority Finder", "https://www.bamf.de/SiteGlobals/Functions/WebGIS/DE/WebGIS_Auslaenderbehoerde.html", target: '_blank' %> </p>
          <p class="bigger">Please fill in this form: <%= link_to "Form", 'https://con.arbeitsagentur.de/prod/apok/ct/dam/download/documents/dok_ba015716.pdf', target: '_blank' %></p>
          <p><%= link_to 'Filled form', form_1_nineth_result_path(@applicant, format: :pdf) %></p>
        </div>
      </div>
    </div>
  </div>
</div>


