<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="question-card">
        <div class="question-card-header green-header">
          <h3>Application for work permit</h3>

        </div>

         <div class="question-content">
            <p><span class="bigger"><i class="far fa-circle"></i> Priority check ("Vorrangprüfung")</span><br>
            <span>Not necessary - your company is not registered in an area where the authority examines the priority of local work force (§ 39 Abs. 2 S. 1 Nr. 1a AufenthG)
              <br>
            </span>
            </p>

            <p><span class="bigger"><i class="far fa-circle"></i> Check and print these forms:</span> <br>
              <%= link_to '1. Antrag auf Erlaubnis einer Beschäftigung', form_1_nineth_result_path(@applicant, format: :pdf) %> <br>
              <%= link_to '2. Stellenbeschreibung zur Vorlage im Verfahren der Zulassung ausländischer Arbeitnehmer/innen zum deutschen Arbeitsmarkt', form_2_nineth_result_path(@applicant, format: :pdf) %></p>

            <p class="bigger"><i class="far fa-circle"></i> Find the right authority: <%= link_to "Authority Finder", "https://www.bamf.de/SiteGlobals/Functions/WebGIS/DE/WebGIS_Auslaenderbehoerde.html", target: '_blank' %></p>

            <p><span class="bigger"><i class="far fa-circle"></i> Bring your applicant's passport!</span> </p>
        </div>
      </div>
    </div>
  </div>
</div>


