// Define variables for your color scheme

// For example:
$purple: #502B99;
$gray: #747572;
$light-gray: #E1E1E1;
$white: #FEFEFE;
$black: #191919;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #25a3a8;
