.home-banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
  padding: calc(100vh - 70px - 70vh) 0;
}

.home-banner h1 {
  margin: 0;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.home-banner p {
  font-size: 20px;
  color: $white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 50px;
}

.red-btn-cl {
  color: $white;
  font-size: 16px;
  height: 32px;
  background-color: $red;
  text-decoration: none;
  padding: 5px 20px;
  box-shadow: $shadow;
  transition: opacity 1 ease;
  border: none;
  &:hover {
    color: $white;
    opacity: 0.8;
  }
}
.green-btn-cl {
  color: $white;
  font-size: 16px;
  height: 32px;
  background-color: $green;
  text-decoration: none;
  padding: 5px 20px;
  box-shadow: $shadow;
  transition: opacity 1 ease;
  border: none;
  &:hover {
    color: $white;
    opacity: 0.8;
  }
}
.our-big-btn {
  color: $white;
  font-size: 24px;
  height: 48px;
  background-color: $purple;
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: $shadow;
  transition: hover 1 ease;
  border-radius: 2px;
  &:hover {
    color: $white;
    background-color: #703fd3;
    // opacity: 0.8;
  }
}

.our-small-btn {
  color: $white;
  font-size: 16px;
  height: 32px;
  background-color: $purple;
  text-decoration: none;
  padding: 5px 20px;
  box-shadow: $shadow;
  transition: opacity 1 ease;
  border: none;
  &:hover {
    color: $white;
    opacity: 0.8;
  }
}
//  ICONS  SECTION
.wrapper-linear{
  width: 100%;
  height: 100vh;
  background: url(Group.svg);
  background-size: cover;
  background-position: center;
  padding-top: 7rem;
  h4 {
    color: $purple;
  }
}
.home-card {
  background-color: $white;
  padding-top: 55px;
  padding-bottom: 40px;
  box-shadow: $shadow;
  border-radius: 2px;
  margin-bottom: 30px;
}

.bigger {
  font-size: 24px;
  font-weight: bolder;
}

.img-icon {
  position: absolute;
  top: 15px;
  left: 15px;
}

.background {
  background-color: $light-gray;
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%
}
