<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="result-card">
        <div class="result-content">
          <h3><%= @header %></h3>
          <p><%= @message %></p>
          <ul>
            <li>If you want to speak to a lawyer: click here</li>
            <li>Link TBD</li>
            <li>Link TBD</li>
          </ul>
          <div class="button-on-right">
            <%= link_to "Company profile", root_path, class: 'red-btn-cl' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
