<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="result-card">
        <div class="result-content">
          <h5>Sorry please try to re-apply later. This page will be updated with helpful links soon.</h5>
          <ul>
            <li>Link TBD</li>
            <li>Link TBD</li>
            <li>Link TBD</li>
          </ul>
          <div class="button-on-right">
            <%= link_to "Company profile", root_path, class: 'red-btn-cl' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
