<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="result-card">
        <div class="result-content">
          <h5>Your Applicant can already work legally!</h5>
          <ul>
            <ul><br></ul>
            <ul><br></ul>
            <ul><br></ul>
          </ul>
          <div class="button-on-right">
            <%= link_to "Company profile", root_path, class: 'green-btn-cl' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
