.our-navbar {
  background-color: $white;
  color: $white;
  font-size: 16px;
  height: 70px;
  border-bottom: 2px solid $purple;
}
.navbar-link {
  color: $purple;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $purple;
  }
}

.dropdown-burger {
  color: $black;
}
