.question-card {
  box-shadow: $shadow;
  margin-top: 30px;
  background-color: $white;
  // height: 90vh;
  margin-bottom: 20px;
}
.green-header {
  background-color: $green !important;
}
.question-card-header {
  background-color: $purple;
  color: $white;
  display: flex;
  h3, h5 {
    font-size: 32px;
    padding-left: 15px;
    margin-top: 6px;
  }
  h5 {
    text-align: center;
    font-size: 24px;
  }
  .p-flex-box {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 12px;
    font-size: 20px;
  }
}

.question-content {
  padding: 25px 45px;
}

.button-on-right {
  display: flex;
  justify-content: flex-end;
}

.picture-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  &:hover {
    background-color: $light-gray;
  }
}

.active {
  background-color: blue;
}

.radio-buttons-style {
  // display: flex;
  label {
    // background-color: #E1E1E1;
    // padding: 5px 10px;
    // box-shadow: $box-shadow;
    // border-radius: 2px;
  }
}

.test {
  display: flex;
  padding-left: 0px;
  input {
    visibility: hidden;
  }
  label {
    background-color: $light-gray;
    padding: 5px 10px;
    box-shadow: $less-shadow;
    border-radius: 2px;
    transition: all 0.2s ease;
    &:hover {
      background-color: $gray;
      color: $white;

    }
  }
}

.lalala {
  height: 50vh !important;
  transition: all 1s ease;
  // background-color: blue;
}

.small-font > .test {
  label {
    font-size: 12px;
  }
}
