// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap"; // picks it up in node_modules!
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "dashboard/index";

body.regular {
  min-height: 100vh;
  background: url(Group.svg);
  background-size: cover;
  background-position: center;
}
body.sucesssful {
  min-height: 100vh;
  background: url(greenbg.svg);
  background-size: cover;
  background-position: center;
}
body#fail {
  min-height: 100vh;
  background: url(redbg.svg);
  background-size: cover;
  background-position: center;
}

body.wait {
  min-height: 100vh;
  background: url(orangebg.svg);
  background-size: cover;
  background-position: center;
}

.normal-link {
  color: $purple;
  text-decoration: underline;
  &:hover {
    color: $purple;
    text-decoration: none;
  }
}


.display-f-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
